BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 150
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: false
InsertBraces: false
AllowShortFunctionsOnASingleLine: None
BreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
